@import "./global.scss";



input::placeholder{
    color: black;
}


.container{
    height: 120vh;
    display: flex;
    align-items: center;
    .register{
        width: 50%;
        background: rgb(255, 255, 255);
        backdrop-filter: blur(10px);
        padding: 20px;
        .register-info{
            padding: 20px;
            h1{
                color: crimson;
            }
            a{
                color: crimson;
                text-decoration: underline;
            }
        }
        form{
      
            display: flex;
            flex-direction: column;
            gap:20px;
            justify-content: center;
            text-align: center;
            width:100%;
            input{
                width: 80%;
                padding: 5px;
                padding-left: 10px;
                border-radius: 5px;
                border: 2px solid rgba(255, 71, 71, 0.281);
               outline:2px solid none;
               
               
                &:focus{
                    outline: 2px solid crimson;
                 
                }
            }
            .dob{
                display: flex;
                align-items: start;
                flex-direction: column;
                gap: 2px;
                font-size: 1rem;
                text-align: left;
    
            }
            .terms{
                display: flex;
                width: 100%;
                text-align: left;
                gap: 10px;
                padding-left: 5px;
                input{
                    width: 20px;
                    outline: none;
                    
                }
                input:checked{
                 color: crimson;
                }
            }
            
            button{
                width: 82%;
                color: white;
                background-color: crimson;
                border: none;
                border-radius: 5px;
                padding: 5px;
            }
        }
    }
    img{
        width: 50%;
        height: 100%;
        object-fit: cover;
    }
}

